<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
{% with messages=get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <div style="color: green">
            {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
    <a>Found</a>
    <a>Lost</a>
    <form action="/lostitem">
        <label for="item name">Item name</label>
        <input id="item name" type="text" name="item name" required>
        <label for="description"></label>
        <input id="description" type="text" name="description">
        <label for="lost location">Lost location</label>
        <input id="lost location" type="text" name="lost location">
        <label for="lost date">Lost date</label>
        <input id="lost date" type="date" name="lost date">
        <label for="image">image</label>
        <input id="image" type="image" name="image">
        <label for="reciever number">Mobile number</label>
        <input id="reciever number" type="number" name="reciever number">
        <button type="reset">Reset</button>
        <button type="submit">Submit</button>
    </form>

    <form action="/founditem">
        <label for="found item">Item name</label>
        <input id="found item" type="text" name="found item" required>
        <label for="found description"></label>
        <input id="found description" type="text" name="found description">
        <label for="found location">Lost location</label>
        <input id="found location" type="text" name="found location">
        <label for="found date">Lost date</label>
        <input id="found date" type="date" name="found date">
        <label for="found image">image</label>
        <input id="found image" type="image" name="found image">
        <label for="giver number">Mobile number</label>
        <input id="giver number" type="number" name="giver number">
        <button type="reset">Reset</button>
        <button type="submit">Submit</button>
    </form>

</body>
</html>