<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Register</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <div class="logo-section">
    <h1>🔍 Lost & Found Portal</h1>
    <p>Reconnect People with Their Belongings</p>
    </div>
    <div class="container">
        <div id="loginForm">

            <h2>Login</h2>

            <form action="/signin" method="POST">

                <label>Username</label>
                <input type="text" placeholder="Enter username" name="username" required>
                <label>Password</label>
                <input type="password" placeholder="Enter password" name="password" required>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, msg in messages %}
                            <div class="flash {{ category }}">
                            {{ msg|safe }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <button type="submit" name="submit">Login</button>
            </form>
            <div class="links">
                <p>Don't have an account?</p>
                <a href="#" onclick="showRegister()">Sign up</a>
            </div>
        </div>

        <div id="registerForm" style="display: none;">
            <h2>Register</h2>

            <form action="/signup" method="POST">
                <label>Name</label>
                <input type="text" placeholder="Enter your Name" name="name" required >

                <label>Username</label>
                <input type="text" placeholder="Create username" name="username" required >
                <label>Password</label>
                <input type="password" placeholder="Create password" name="password" required >

                <button type="submit">Register</button>

            </form>
            <div class="links">
                <p>Already have an account?</p>
                <a href="#" onclick="showLogin()">Login</a>
            </div>
        </div>

    </div>

    <script>

        function showRegister() {
            document.getElementById("loginForm").style.display = "none";
            document.getElementById("registerForm").style.display = "block";
        }

        function showLogin() {
            document.getElementById("registerForm").style.display = "none";
            document.getElementById("loginForm").style.display = "block";
        }

    </script>

</body>
</html>
